<div class="testimonials">
    <h2>What Our Customers Say</h2>
    <div class="testimonial">
        <p>"This service has changed my life! Highly recommend to everyone!"</p>
        <cite>- Jane Doe</cite>
    </div>
    <div class="testimonial">
        <p>"An amazing experience from start to finish. The team is fantastic!"</p>
        <cite>- John Smith</cite>
    </div>
    <div class="testimonial">
        <p>"I can't imagine going back to how things were before. Truly revolutionary!"</p>
        <cite>- Emily Johnson</cite>
    </div>
</div>